.button {
    background-color: var(--color-purple);
    border: 2px solid var(--color-purple);
    border-radius: var(--border-radius-5);
    color: var(--color-white);

    
    &.is-active {
        background-color: var(--color-purple-dark);
    }
    
    &:hover {
        box-shadow: 0 0 4px 0 var(--color-purple);
    }
}

.button-cancel {
    color: var(--color-purple);
    background-color: transparent;
}