.task {
    max-width: 520px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    align-items: center;

    &:not(:first-child) {
        padding-top: 1rem;
    }

    &:not(:last-child) {
        padding-bottom: 1rem;
        border-bottom: var(--border);
        border-color: var(--color-purple-opacity-02);
    }

    &:hover .task__controls,
    &:has(:focus-visible) .task__controls {
        opacity: 1;
        pointer-events: auto;
    }
}
.tasks__item-link {
    position: relative;
    
    &:hover,
    input:checked ~ & .task__title:hover{
        color: var(--color-purple);
    }
}

.task__title {
    font-weight: 400;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-duration: var(--transition-duration);
    width: 100%;
    max-width: 350px; 
}

.task__checkbox {
  flex-shrink: 0;
  appearance: none;
  position: relative;
  width: 26px;
  height: 26px;
  margin: 0;
  border: var(--border);
  border-radius: 2px;

  &:checked {
    background-color: var(--color-purple);
  }

  &:checked ~ .tasks__item-link .task__title {
        text-decoration: line-through;
        color: var(--color-gray-03);
    }

  &:not(:checked) {
    &::after {
      opacity: 0;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 60%;
    height: 60%;
    background: url('../../assets/images/check.svg') center/contain no-repeat;
  }
}

.task__controls {
    display: flex;
    align-items: center;
    justify-self: end;
    column-gap: calc((13 / 16) * 1rem);
    transition-duration: var(--transition-duration);
    opacity: 0;
    pointer-events: none;
}

@media (max-width: 750px) {
    .task {
        grid-template-columns: auto auto 1fr;
    }
    .task__field:has(form) {
    flex-direction: column;
    align-items: start;
    }
    .task__title {
        max-width: 200px;
    }
}

@media (max-width: 400px) {
    .task__title {
        max-width: 100px;
    }
}