.button {
    background-color: var(--color-purple);
    border: 2px solid var(--color-purple);
    border-radius: var(--border-radius-5);
    color: var(--color-white);

    &:disabled {
        opacity: 0.6;
        pointer-events: none;
    }

    &.is-active {
        background-color: var(--color-purple-dark);
    }
    
    &:hover {
        box-shadow: 0 0 4px 0 var(--color-purple);
    }
}