.buttons {
    position: relative;
    display: flex;
    color: var(--color-gray-03);
    
    &:disabled:hover,
    &:disabled {
        color: var(--color-gray) !important;
        pointer-events: none;
        transition-duration: var(--transition-duration);
    }

    &::before {
        content: "";
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
    }
}

.buttonEdit {
    &:hover {
        color: var(--color-purple);
    }
}
.buttonDelete {
    &:hover {
        color: var(--color-red);
    }
}