.buttons {
    display: flex;
    color: var(--color-gray-03);
}

.buttonEdit {
    &:hover {
        color: var(--color-purple);
    }
}
.buttonDelete {
    &:hover {
        color: var(--color-red);
    }
}