.todo {
    position: relative;
}

.todo__controls {
    display: grid;
    grid-template-columns: 1fr auto auto;
    column-gap: 1rem;
    align-items: center;
}

.todo__prev-btn {
    position: sticky;
    top: 1rem;
    left:  1rem;
    padding: 0.5rem;
}

.todo__details {
    display: grid;
    justify-content: center;
    text-align: center;
}

.todo__about {
    word-break: break-all;
}

.todo__details-headers {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

.todo__list {
    padding-block: calc((30 / 16) * 1rem);
}

@media (max-width: 750px) {
    .todo__controls {
        grid-template-columns: 1fr;
        grid-template-areas: 
        'search search'
        'filters theme';
        column-gap: 0;
        row-gap: 1rem;
        
    }

    .todo__search-form {
        grid-area: search;
    }
}