.form {
    position: relative;

    &:has(input:focus) {
        .searchIcon {
            display: none;
        }
    }
}

.searchIcon {
    content: "";
    display: block;
    position: absolute;
    top: calc((8.5 / 16) * 1rem);
    right: 1rem;
    color: var(--color-base);
}