.search-form {
    position: relative;

    &:has(.search-form__input:focus) {
        .search-form__icon {
            display: none;
        }
    }
}

.search-form__icon {
    content: "";
    display: block;
    position: absolute;
    top: calc((8.5 / 16) * 1rem);
    right: 1rem;
    color: var(--color-base);
}