.add-task {
    position: fixed;
    bottom: 2rem;
    right: 0.5rem;
    padding: calc((13px / 16px) * 1rem);
    border-radius: 50%;

    &:hover {
        background-color: var(--color-purple-dark);
    }
}